<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark" id="header-nav">
    <div class="navbar-header">
      <div class="pull-left visible-md visible-lg" id="logo-img" alt="Logo image"></div>
    </div>
    <div class="navbar-brand">
      <a href="#"><h2>FEAST MATE</h2></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="navbar-list">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Restaurants</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
      <div class="search"> 
      <form class="form-inline my-2 my-lg-0">
        <span class="fa fa-search"></span>
        <input [(ngModel)] ='filterString' name="search" class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search" id="search-bar"  >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
      </form>
    </div> 
    </div>
  </nav>
</header>
<section id="cover-img">
  <div class="container-fluid img-fluid">
  </div>
</section>
