 /* Header */
#header-nav{
    background-color: #70cab3;
    border-radius: 0;
    border: 0;
    height: 70px;
}
#logo-img{
    background: url('../../assets/images/Feastmate_logo.PNG') no-repeat;
    width: 80px;
    height: 60px;
    margin: 0px 30px 0px 0;
    background-size: cover;

}
.navbar-brand h2 {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace, Courier;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0px; 
    text-shadow: 1px 1px 1px #222222; 
    margin-left: 30px;  
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
#search-bar{
    width:430px;
}
#navbar-list{
    margin-right: 10px;
}
#navbar-list a:hover{
    color: #f4f4e6;
}
#navbar-list button{
    color: #ee952a;
}
.navbar-toggler{
    border: 1px solid #ee952a;
}
/* Header-End */

/* Background image */
#cover-img{
    background: url('../../assets/images/restaurant-image.jpg') no-repeat;
    width: 100%;
    height: 675px;
    margin: 0px 30px 0px 0;
    background-size: cover;
    box-shadow: 0 0 50px #333333;
}

/* Media quaries */

/* Large Devices only */
@media (min-width: 1200px){

}
/* Medium Devices only */
@media (min-width: 992px) and (max-width: 1199px){
    #search-bar{
        width:230px;
    }
}
/* Small Devices only */
@media (min-width: 768px) and (max-width: 991px){
    .navbar-brand h2 {
        font-size: 4vw;
    }
    #logo-img{
        background: url('../../assets/images/Feastmate_logo.PNG') no-repeat;
        width: 80px;
        height: 60px;
        margin: 0px 15px 0px 0; 
        background-size: cover;
    }
}
/* Extra Small Devices only */
@media (max-width: 767px) {

    .navbar-brand h2 {
        margin-left: 3px;
        font-size: 1.6em;
    }
    #logo-img{
        width: 60px;
        height: 45px;
        margin: 0px 5px 0px 0; 
        background-size: cover;
    }
}