<footer class="panel-footer">
  <div class="container">
    <div class="row">
      <section id="address" class="col-sm-4">
        <span>Address</span><br> Feast Mate,<br> USA
        <hr class="visible-xs">
      </section>
      <section id="social-media" class="col-sm-4">
        <span>Social Media</span><br>
        <a href="" target="_blank" title="Facebook">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a><br>
        <a href="" target="_blank" title="Twitter">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a><br>
        <a href="" target="_blank" title="Instagram">
          <i class="fab fa-instagram fa-2x"></i>
        </a><br>
        <a href="" target="_blank" title="Dribble">
          <i class="fab fa-dribbble-square fa-2x"></i>
        </a><br>
        <hr class="visible-xs">
      </section>
      <section id="contacts" class="col-sm-4">
        <span>Contact Us</span><br> some text<br> some text<br>
        <hr class="visible-xs">
      </section>
    </div>
    <div class="text-center">&copy; Copyright FeastMate</div>
  </div>
</footer>