<div id="courses-list" class="container-fluid">
    <h1 id="heading" class="heading">Restaurant List</h1>
    <div class="row">
        <div class="col-md-4 hvr-glow" *ngFor="let restaurant of restaurants">
            <a href="https://www.templaza.com/blog/best-free-css-hover-effects" target="_blank">
                <div class="restaurantCard ">
                    <img src="../../assets/images/restImage1.jpg" class="restaurant-image hvr-glow">
                    <div class="restaurantDetails hvr-glow">
                        <h5>{{ restaurant.resturantName }}</h5>
                        <p>{{ restaurant.Address}}</p>
                        <table id="cart-content" class="table table-borderless myTable">
                            <thead>
                                <tr>
                                    <th>Open</th>
                                    <th>Distance</th>
                                    <th>Discount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>{{ restaurant.openTime}}</td>
                                <td>{{ restaurant.distance}}</td>
                                <td>{{ restaurant.discounts}}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>