<div id="courses-list" class="container-fluid">
    <h1 id="heading" class="heading">Restaurant List</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 hvr-glow" *ngFor="let restaurant of restaurants">
            <a href="#">
                <div class="restaurantCard">
                    <img src="../../assets/images/restImage1.jpg" class="restaurant-image hvr-glow">
                    <div class="ellipsis restaurantDetails hvr-glow" *ngIf="restaurant.resturantName; else noValue">
                        <h5>{{ restaurant.resturantName }}</h5>
                        <p>{{ restaurant.Address.address }}</p>
                        <table id="cart-content" class="table table-borderless myTable">
                            <thead>
                                <tr>
                                    <th>Open</th>
                                    <th>Distance</th>
                                    <th>Discount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>{{ restaurant.openTime}} AM</td>
                                <td *ngIf="restaurant.distance === 'Kms'; else Mi">{{ calculateDistance_km(restaurant.coordinates.lat, 17.687612500000007, restaurant.coordinates.lng, 83.24504296874997) }} Kms</td>
                                <ng-template #Mi><td>{{ calculateDistance_mi(restaurant.coordinates.lat, 17.687612500000007, restaurant.coordinates.lng, 83.24504296874997)}} Miles</td></ng-template>
                                <td>{{ restaurant.discounts}}</td>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #noValue>
                        <div class="ellipsis restaurantDetails hvr-glow">
                            <h5>No Name</h5>
                            <p>No Address</p>
                            <table id="cart-content" class="table table-borderless myTable">
                                <thead>
                                    <tr>
                                        <th>Open</th>
                                        <th>Distance</th>
                                        <th>Discount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>Not Defined</td>
                                    <td>Not Defined</td>
                                    <td>Not Defined</td>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </a>
        </div>
    </div>
</div>