<div id="courses-list" class="container-fluid">
    <h1 id="heading" class="heading">Restaurant List</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 hvr-glow" *ngFor="let restaurant of filteredRestaurants">
            <a href="#">
                <div class="restaurantCard">
                    <img src="../../assets/images/restImage1.jpg" class="restaurant-image">
                    <div class="ellipsis restaurantDetails" *ngIf="restaurant.Address; else noValue">
                        <h5>{{ restaurant.resturantName }} <button (click) ="addToFavourites($event)" class="btn btn-link fav-btn"><span class="far fa-heart"></span></button></h5>
                        <p>{{ restaurant.Address.address }}</p>
                        <table id="cart-content" class="table table-borderless myTable">
                            <thead>
                                <tr>
                                    <th>Open</th>
                                    <th>Distance</th>
                                    <th>Discount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>{{ restaurant.openTime}} AM</td>
                                <td *ngIf="restaurant.distance === 'Kms'; else Mi">{{
                                    calculateDistance_km(restaurant.coordinates.lat, getLatitude,
                                    restaurant.coordinates.lng, getLongitude) }} Kms</td>
                                <ng-template #Mi>
                                    <td>{{ calculateDistance_mi(restaurant.coordinates.lat, getLatitude,
                                        restaurant.coordinates.lng, getLongitude)}} Miles</td>
                                </ng-template>
                                <td *ngIf="restaurant.discounts">{{ restaurant.discounts }}%</td>
                            </tbody>
                        </table>
                        
                    </div>
                    <ng-template #noValue>
                        <div class="ellipsis restaurantDetails hvr-glow">
                            <h5>No Name</h5>
                            <p>No Address</p>
                            <table id="cart-content" class="table table-borderless myTable">
                                <thead>
                                    <tr>
                                        <th>Open</th>
                                        <th>Distance</th>
                                        <th>Discount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>Not Defined</td>
                                    <td>Not Defined</td>
                                    <td>Not Defined</td>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </a>
        </div>
    </div>
</div>